body {
  margin: 0;
}
.main-container {
  width: 600px;
  margin: 80px auto 0;
  text-align: center;
}

.time {
  font-size: 100px;
}

.finished-sessions {
  margin-top: 50px;
}

.finished-sessions h1 {
  font-weight: normal;
}

