body {
  margin: 0;
}
.timer-container {
  width: 600px;
  margin: 80px auto 0;
  text-align: center;
}

.time {
  font-size: 100px;
}

.finished-sessions {
  margin-top: 50px;
}

.finished-sessions h1 {
  font-weight: normal;
}

button {
  background: none;       /* 背景色をリセット */
  color: inherit;         /* 文字色を継承 */
  border: none;           /* ボーダーをリセット */
  padding: 0;             /* パディングをリセット */
  margin: 0;              /* マージンをリセット */
  font: inherit;          /* フォントスタイルを継承 */
  cursor: pointer;        /* カーソルをポインタに設定 */
  outline: inherit;       /* アウトラインを継承（フォーカス時に表示される枠） */
  text-align: center;     /* テキストを中央揃えに設定 */
  -webkit-appearance: none;  /* iOSやSafariのデフォルトスタイルを無効化 */
  -moz-appearance: none;     /* Firefoxのデフォルトスタイルを無効化 */
  appearance: none;       /* ボタンのデフォルトスタイルを無効化 */
}

p {
  margin: 0;
}

.contents {
  display: flex;
}

.left-contents {
  width: 20%;
}

.right-contents {
  width: 80%;
}
