.goal-section {
  margin-top: 80px;
  text-align: center;
}

h1 {
  text-align: center;
  margin-bottom: 10px;
}

.goal-input-form {
  position: relative;
  height: 30px;
  width: 300px;
  margin: 0 auto;
}

.goal-input-done {
  position: absolute;
  top: 5px;
  right: 0;
  background-color: gray;
  color: white;
  padding: 3px;
  border-radius: 3px;
  font-size: 13px;
}

.goal-input-done:hover {
  background-color: lightgray;
}
