.records {
    width: 30px;
    margin: 70px auto 0;
    position: relative;
    border: 1px solid darkgray;
    height: 720px;
}

.startTime {
    position: absolute;
    right: -40px;
    top: -10px;
}

.base-hour {
    height: 60px;
    width: 300px;
    border: 0.5px solid dimgray;
    margin: 0 auto;
}

.doneSession {
    width: 100%;
    background-color: dodgerblue;
    position: absolute;
}

.finished-sessions {
    text-align: center;
}
